################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Sequence/.vs
/Sequence/Sequence/bin/Debug/net8.0
/Sequence/Sequence/obj
/Sequence/SequenceTests/bin/Debug/net8.0
/Sequence/SequenceTests/obj
/Sequence/Sequence/bin/Release/net8.0
/Sequence/SequenceTests/bin/Release/net8.0/cs
/Sequence/SequenceTests/bin/Release/net8.0
